/* .container {
    margin: auto;
    padding: 0 1.25rem;
} */
.container--md {
    max-width: calc(1520px + 5.6rem);
    margin: auto;
    padding: 0 1.25rem;
}
.mb--30 {
    margin-bottom: 30px!important;
}
.row {
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    margin-left: -.5rem;
    margin-right: -.5rem;
}
@media (min-width: 769px)
{
    .title p {
    margin: .5rem 0 0;
}
}

@media (min-width: 481px)
{
.title p {
    margin: .5rem 0 0;
}
}
.text--justify {
    text-align: justify;
}
.title p {
    color: #555;
    margin: 0;
    flex: 0 0 auto;
    font-size: 16px;
}

.m--0 {
    margin: 0!important;
}

.d-flex {
    display: flex!important;
}

/* Bộ lọc */
.is-flex {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.is-flex.jend {
    justify-content: flex-end;
}


