body{
    background-color: whitesmoke;
}
input[type="text"]{
    background-color: #fff;
    height: 2rem;
    border-collapse: collapse;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid;
    outline: none;
}
label{
    font-weight: bold;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    line-height: 2rem;

}