body {
  margin: 0px;
  padding: 0px;
}
.leftcol {
  background: #f00;
  float: left;
  width: 20%;
  height: 500px;
}
.header{
    border: 1px solid black;
}
.rightcol {
  background: #f00;
  float: right;
  width: 20%;
  height: 500px;
}
.content {
  background: #fff;
  float: right;
  width: 59%;
  height: 500px;
}
.footer {
  background: #0f0;
  clear: both;
}
ul.sign {
    list-style: none;
    padding: 0;
    margin: 0;
}