.search {
  box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
  transition: transform 0.4s;
  border-radius: 5px;
  display: flex;
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  font-size: larger;
  width: 80%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #6b6b6b;
}

.searchTerm:focus {
  color: #000000;
}

.searchButton {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#31d35c),
    to(#2bb7da)
  );
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  position: relative;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  border: 1px solid #00b4cc;
  /* background: #00B4CC; */
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size:inherit;
}
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.col-xs-4.col-sm-4.col-md-4.col-lg-4 {
  z-index: 9;
}